@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: 'Ubuntu';
  margin: 0;
  text-align: center;
  color: white;
  background-color: #1d1e22;


}

.App {
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}